@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("images\\xp-bg.jpg");
    background-repeat: repeat;
    background-size: 640px 360px;
    margin: 0;
    padding: 0;
}

.title{
    display: block;
    border: 5px solid grey;
    width: 200px;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 50px 55px 55px;
    background-color: white;
    margin: 5% 40%;
}

h1{
    visibility: visible;
}
p3{
    color:black;
}


.toolbar{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: .5%;
    grid-row-gap: 0px; 
    margin-top: 21.97%;
    background-color: #255cdb;
    width: 100%;
    height: 40px;
    border-top: 4px solid #3e84f6;
    border-radius: 4px 0px 0px 0px;
    border-bottom-style: none;
}

.start{
    grid-area: 1 / 1 / 2 / 2; 
    width: 50%;
    height: 30px;
    background-color: #4ab445;
    border: 1px solid #4ab445;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
}

.startsymbol{
    /* grid-area: 1 / 1 / 2 / 2;  */
    margin-top: 3%;
    margin-left: 8%;
    width: 25px;
    height: 25px;
}

p {
    /* grid-area: 1 / 1 / 2 / 2;  */
    display: flex;
    color: white;
    margin-top: -54%;
    margin-left: 39%;
    text-align: center;
    font-size: calc(.1em + 1vw)
}

.window{
    grid-area: 1 / 2 / 2 / 3; 
    width: 100%;
    height: 30px;
    background-color: #437ff9;
    margin-top: 2%;
    margin-left: -45%;
    border: 1px solid #437ff9;
    border-radius: 4px;
}

.window2{
    grid-area: 1 / 3 / 2 / 4; 
    width: 100%;
    height: 30px;
    background-color: #437ff9;
    margin-top: 2%;
    margin-left: -45%;
    border: 1px solid #437ff9;
    border-radius: 4px;
}

.window3{
    grid-area: 1 / 4 / 2 / 5;
    width: 100%;
    height: 30px;
    background-color: #437ff9;
    margin-top: 2%;
    margin-left: -45%;
    border: 1px solid #437ff9;
    border-radius: 4px;
}

.window4{
    grid-area: 1 / 5 / 2 / 6;
    width: 100%;
    height: 30px;
    background-color: #437ff9;
    margin-top: 2%;
    margin-left: -45%;
    border: 1px solid #437ff9;
    border-radius: 4px;
}

p2 {
    display: flex;
    color: white;
    margin-top: 1%;
    margin-left: 30%;
    text-align: center;
    font-size: calc(.1em + 1vw)
}

.vista{
    display:flex;
    height: 20px;
    width: 20px;
    margin-left: 15%;
    visibility: hidden;
}

@media only screen and (max-width:650px){
    body {
        background-image: url("images\\vista-bg.jpg");
        background-repeat: no-repeat;
        width: auto;
        height: auto;   
    }
    p{
        margin-top: -67%;
        margin-left: 100%;
        visibility: hidden;
    }
    p2{
        margin-top: 5%;
    }
    h1{
        position: relative;
        visibility: hidden;
    }
    h1:after{
        content:"Windows Vista";
        visibility: visible;
        top: 0;
        left: 0;
        position: absolute;
        font-size: .8em;
    }
    p3{
        position: relative;
        visibility: hidden;
    }
    p3:after{
        content: "Windows Vista was underrated";
        visibility: visible;
        top: 0;
        left: 0;
        position: absolute;
        font-size: .9em;
    }
    .toolbar{
        margin-top: 27%;
        height: 20px;
        grid-column-gap: 1%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-color: transparent;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    .title{
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        border-color: transparent;
        margin: 5% 15%;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
    }
    .start{
        height: 15px;
        visibility: hidden;
    }
    .window{
        height: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        border-color: transparent;
    }
    .window2{
        height: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        border-color: transparent;
    }
    .window3{
        height: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        border-color: transparent;
    }
    .window4{
        height: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);
        border-color: transparent;
    }
    .startsymbol{
        visibility: hidden;
        margin-bottom: 25%;
    }
    .vista{
        margin-top: -150%;
        visibility: visible;
    }
}




